<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chat IO</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container clearfix">
        <div class="chat">
            <div class="controls">
                <a href="/" class="rooms-btn">Back</a>
            </div>
            <div class="chat-header clearfix">
                <div class="chat-about">
                    <div class="chat-room"><%= room.title %></div>
                </div>
            </div> <!-- end chat-header -->

            <div class="chat-history">
                <ul>
                </ul>
            </div> <!-- end chat-history -->

            <div class="chat-message clearfix">
                <textarea name="message" placeholder="Type your message" rows="3"></textarea>
                <button type="submit">Send</button>
            </div> <!-- end chat-message -->
        </div> <!-- end chat -->

    </div> <!-- end container -->
</body>

</html>