<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Chat IO</title>
  <meta property="og:site_name" content="Login for Ilhamsyahids">
  <meta property="og:title" content="Login for Ilhamsyahids">
  <meta property="og:url" content="http://chat.ilhamsyahids.me/login">
  <meta name="description" content="Login for Ilhamsyahids.">
  <meta name="og:description" content="Login for Ilhamsyahids.">
  <meta name="twitter:title" content="Login for Ilhamsyahids">
  <meta name="twitter:description" content="Login for Ilhamsyahids.">
  <link rel="canonical" href="http://chat.ilhamsyahids.me/login">

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="login-page">
    <div class="form">
      <div style="background-color: gainsboro;margin-bottom: 10px;">
        Chat For Me 💬
      </div>

      <div class="form-line"></div>

      <div style="margin-top: 18px;">
        <form action="/login" class="login-form" method="post">
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
          <button type="submit">login</button>
          <% if (errors != null) { %>
          <% errors.forEach(function(err){ %>
          <p class="message error"><%= err %></p>
          <% }); %>
          <% } if (success != null) { %>
          <p class="message success"><%= success %></p>
          <% } %>
        </form>
      </div>
    </div> <!-- end form -->
  </div> <!-- end login container -->
</body>

</html>